@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@layer base {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		user-select: text;
	}

	::selection {
		color: white;
		background: rgb(198, 198, 198);
	}

	html {
		font-size: 16px;
		font-family: 'Instrument Sans Semicondensed', sans-serif;
	}

	body {
		font-family: 'Instrument Sans Semicondensed', sans-serif;
		margin: 0;
		padding-top: 0px;
		min-height: 100vh;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	p {
		font-family: 'Instrument Sans Semicondensed', sans-serif;
		@apply line-clamp-none text-base leading-tight font-light text-[#777777];
		letter-spacing: -0.01em;
	}

	h1 {
		font-family: 'Instrument Sans', sans-serif;
		font-size: 34px;
		font-weight: 500;
		color: #000001;
		letter-spacing: -0.06em;
		line-height: 1;
	}

	@media (min-width: 768px) {
		h1 {
			font-size: 22px;
			font-weight: 300;
			letter-spacing: -0.02em;
		}
	}

	h2 {
		letter-spacing: -0.015em;
	}

	img {
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		image-rendering: high-quality;
	}
}
